.card-header{
  padding: none;

}

.panel-heading img
{
	/*max-height: 210px;*/
}
/*
.btn-danger,
.btn-info

{
	float: right;
}
.btn-info
{
	margin-right: 10px;
}*/

.nav-profile-photo {
    border: 1px solid #d3e0e9;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 1px;
}